body{
    background-color: linen;
}
#uniquehd{
    color: #066104;
    margin-left: 40px;
    text-align: center;
}
p{
    text-align: justify;
}
h3{
    color: #066104;
}
#secondh3{
    color:hsl(119,92,20);
}
#thirdh3{
    color: green;
}
.outofstock{
    text-decoration: line-through;
}
.soon.outofstock{
    text-decoration: none;
    color: red;
}
.center{
    text-align: center;
}
table, th, td{
    border: 1px solid;
}
#priceheader{
    text-align: center;
    color: maroon;
}